<div class="container-fluid">
<!-- <div class="jumbotron jumbotron-fluid">
  <div class="container"> -->
  	<div class="col text-center">
    <h2>Landlord Rent Default Insurance Underwritten by a Leading U.S. Insurance Carrier</h2>
    <p class="lead"><strong>Launching in March 2019</strong></p>
    <div class="btn-group-vertical">
    <button type="button" class="btn btn-primary"[routerLink]="['/contact']">Contact Us</button>
    <button type="button" class="btn btn-primary"[routerLink]="['/blog']">Blog</button>
    </div> 
    </div>
  <!-- </div>
</div> -->
</div>