/* .container{
  text-align: center;
}

.jumbotron {
  padding: 20em;
  background: #333;
  background-image: url("citybg.jpg");
  height: 100vh;

   Center and scale the image nicely 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container h2 {
  color: white;
  position: relative;
  bottom: 100px;
  text-align: center;
}
.jumbotron .container p{
  color: white;
  position: top;
  bottom: 100px;
  text-align: center;
}
.jumbotron

/* .container-fluid{
  height: 100%;
  background: url("citybg.png");
  background-size: 100% 100%;
  background-attachment: fixed;
} */
.container-fluid {
  position: relative;
  margin: 20px 20px;
  padding: 20px 20px;


  h2 {
    color:  black;
    position: relative;
    text-align: center; 
    font-size: 24px;
    margin: 20px 20px;
  }
  h3 {
    color:  black;
    position: relative;
    text-align: center;
    font-size: 20px;
    margin: 20px 20px;
  }
  h4 {
    color:  black;
    position: relative;
    text-align: center;
    font-size: 18px;
    margin: 20px 20px;
  }
  .lead {
    padding: 20px 20px;
  }
  button {
    margin: 20px 20px;
    width: 120px;
  }
}
