/* .container{
  text-align: center;
}

.jumbotron {
  padding: 20em;
  background: #333;
  background-image: url("citybg.jpg");
  height: 100vh;

   Center and scale the image nicely 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container h2 {
  color: white;
  position: relative;
  bottom: 100px;
  text-align: center;
}
.jumbotron .container p{
  color: white;
  position: top;
  bottom: 100px;
  text-align: center;
}
.jumbotron .container button {
  text-align: center;
}*/

/* .container-fluid{
  height: 100%;
  background: url("citybg.png");
  background-size: 100% 100%;
  background-attachment: fixed;
} */
